{% extends 'base.html' %}

{% block title %}Dashboard Admin - Nay Fashion{% endblock %}

{% block content %}
<div class="dashboard">
    <h1>Tableau de bord administrateur</h1>
    <div class="stats">
        <div class="card">
            <h2>Total des utilisateurs</h2>
            <p>123</p>
        </div>
        <div class="card">
            <h2>Commandes</h2>
            <p>56</p>
        </div>
        <div class="card">
            <h2>Produits en stock</h2>
            <p>78</p>
        </div>
        <div class="card">
            <h2><i class="fas fa-users"></i> Total des utilisateurs</h2>
             <p>123</p>
        </div>
    </div>
</div>
{% endblock %}
